@import "~bootstrap/scss/bootstrap.scss";

.formulario h1 {
   color : white;
}

.formulario span {
   color : white;
   margin-right: 20px;
}

.formulario {
    background: #be5555;
}

.eliminarTodo{
    background-color : white;
    margin-left: 20px;
}